@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear; 
    --otomanoppe-fonts: 'Otomanopee One', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(238, 158, 8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(134, 134, 134);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}

/* container std */
.container {
    width: 100vw;
    margin: 0 auto;
    max-width: 1170px;
}

.body-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media (max-width: 1440px) {
    .body-image {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
    }
}

/* navbar */
.navbar {
    background: var(--mainWhite);
    position: sticky;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 1;
    box-shadow: 0px 23px 30px 4px rgba(34, 60, 80, 0.2);
}

.navbar-center {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.cart-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    font-size: 16px;
    color: var(--mainWhite);
}

.nav-logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--mainBlack);
    font-size: 18px;
    font-weight: bold;
}

.nav-logo__img {
    width: 40px;
    height: 40px;
}

.site__logo__span {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.site__logo__name {
    margin: 0;
    font-family: var(--otomanoppe-fonts);
    color: #f59031;
}

.site__logo__name:last-child {
    font-size: 15px;
    margin-top: -5px;
    color: var(--mainBlack);
}
/* end of navbar */

/* Hero */
.hero {
    min-height: calc(100vh - 70px);
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: center;
}

.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
}

.banner-title {
    cursor: pointer;
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
}

.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 2px solid var(--primaryColor);
    transition: var(--mainTransition);
    font-weight: bold;
    cursor: pointer;
}

.banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}

.banner:hover .banner-title {
    text-shadow: 0px 0px 5px gray;
}
/* end of hero */ 

/* products */
.products {
    padding: 4rem 0;
}

.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: var(--mainSpacing);
}

.section-title p {
    margin-bottom: 3rem;
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.title-paragraph-line {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: var(--primaryColor);
}

@media (max-width: 550px) {
    .section-title h2, p {
        width: 90%;
    }
}

.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.product-img {
    display: block;
    width: auto;
    height: 100%;
    transition: var(--mainTransition);
}

@media (max-width: 604px) {
    .product-img {
        width: 100%;
    }
}

.img-container:hover .product-img {
    opacity: 0.5;
}

.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
}

.bag-btn:hover {
    color: var(--mainWhite);
}

.fa-shoppping-cart {
    margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
    transform: translateX(0);
    opacity: 1;
}

.product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
}
/* end of products */


@media (max-width: 416px) {
    .banner {
        width: 100%;
    }
    
    .banner-title {
        font-size: 2.8rem;
    }
}

/* cart */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgba(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}

.showCart {
    transform: translateX(0);
}

.transparentBcg {   
    visibility: visible;
}

/* dropdown navbar */
.fa-bars {
    width: 30px;
}

.navbar__list {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar__item:not(:last-child) {
    margin-right: 30px;
}

.navbar__link {
    text-decoration: none;
    color:rgb(78, 78, 78);
    font-weight: bold;
    margin-left: 3px;
}

.navbar__item {
    position: relative;
}

.navbar__item:last-child {
    background-color: var(--primaryColor);
    padding: 13px 30px;
    border-radius: 24px;
    color: var(--mainWhite);
    transition: var(--mainTransition);
    border: 2px solid var(--primaryColor);
}

.navbar__item:last-child:hover {
    background: transparent;
    color: var(--primaryColor);
}

.navbar__item:last-child:hover .navbar__link {
    color: var(--primaryColor);
}

.navbar__item:last-child .navbar__link {
    color: var(--mainWhite);
}

.navbar__item:not(:last-child)::after {
    z-index: 3;
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    content: "";
}

.navbar__item:not(:last-child):hover::after {
    background-color: var(--primaryColor);
}

.navbar__item:not(:last-child) .dropbar-icon-2 {
    color: var(--primaryColor);
}

.navbar__item:not(:last-child):hover .navbar__link {
    color: var(--primaryColor);
}

.dropbar__list {
    position: absolute;
    z-index: 3;
    top: 50px;
    right: 0.5rem;
    list-style: none;
    background: inherit;
    background-color: var(--mainWhite);
    box-shadow: 0px 5px 20px rgb(78, 78, 78);
    padding: 7px;
    border: 1px solid lightgrey;
    transition: var(--mainTransition);
    overflow: hidden;
    width: 350px;
    border-radius: 5px;
    display: none;
}

@media (max-width: 500px) {
    .dropbar__list {
        width: 100%;
        right: 0;
    }
}

.nav-icon {
    font-size: 1.5rem;
    display: none;
}

.nav-icon-2 {
    display: block;
}

@media screen and (max-width: 850px) {
    .nav-icon {
        display: block;
    }

    .navbar__list {
        display: none;
    }

    .dropbar--active {
        display: block;
    }

    .main-plan-line {
        display: none;
    }
}

.dropbar__item {
    border-radius: 5px;
    background-color: rgba(236, 236, 236, 0.9);
    padding: 1rem;
}

.dropbar__item:not(:first-child) {
    margin-top: 10px;
}

.dropbar__item:hover .dropbar-icon, .dropbar__link {
    color: blue;
}

.dropbar__item:hover .dropbar__link {
    color: blue;
    text-decoration: underline;
}

.dropbar__link {
    margin-left: 5px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(78, 78, 78);
}
/* end of dropdown navbar */

@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

@media screen and (min-width: 500px) {
    .dropbar__cart {
        width: 25vw;
        min-width: 400px;
    }
}

.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}

.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
}
/* end of cart */

/* cart item */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img {
    width: 75px;
    height: 75px;
}

.cart-item h4 {
    font-weight: bold;
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.cart-item h5 {
    font-weight: bold;
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
}

.item-amount {
    text-align: center;
}

.remove-item {
    color: grey;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
}
/* end of cart item */

/* cart footer */
.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}
/* end of cart footer */


.main {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: rgba(236, 236, 236, 0.9);
    margin-bottom: 100px;
}

.main-box {
    display: flex;
    height: 550px;
    margin-bottom: 15px;
}

.plan-box {
    display: flex;
    height: 550px;
    margin-top: 15px;
}

.main-plan-line {
    width: 100%;
    height: 2px;
    border: none;
    background: lightgrey;
}

.main-img-wrapper, .plan-img-wrapper {
    width: 40%;
    height: 100%;
    background-image: url('../img/our-company.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.plan-img-wrapper {
    background-image: url('../img/our-company-2.jpg');
}

.main-content-wrapper {
    width: 60%;
    height: 100%;
    padding: 1rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content-title {
    font-size: 45px;
    margin-bottom: 10px;
}

.main-content-text {
    font-size: 16px;
    line-height: 26px;
    max-width: 95%;
    margin-bottom: 24px;
}

.main-content-btn {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 30px;
    padding-left: 30px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primaryColor);
    text-decoration: none;
    color: var(--mainBlack);
    font-weight: bold;
    border: 2px solid var(--primaryColor);
}

.main-content-btn:hover {
    background-color: transparent;
    color: var(--primaryColor);
}

@media (max-width: 850px) {
    .main-box {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .plan-box {
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }

    .main-img-wrapper, .plan-img-wrapper {
        width: 100%;    
        height: 550px;
    }

    .main-content-wrapper {
        width: 90%;
        padding: 1rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 634px) {
    .main-content-wrapper {
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.footer {
    background: var(--mainBlack);
}

.footer-box {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footbar-list, .footbar-social-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.footbar-link {
    text-decoration: none;
    color: var(--mainWhite);
    font-weight: 500;
}

.footbar-item:not(:first-child) {
    margin-left: 30px;
}

.footbar-link:hover, .footbar-social-link:hover {
    color: var(--primaryColor);
    text-decoration: underline;
}

.footbar-social-item:not(:last-child) {
    margin-right: 15px;
}

.site__logo__name-2 {
    font-family: var(--otomanoppe-fonts);
    color: var(--primaryColor);
}

.site__logo__name-2:last-child {
    color: var(--mainWhite);
    font-size: 15px;
    margin-top: -4px;
}

.footbar-social-link {
    color: var(--mainWhite);
}

@media (max-width: 700px) {
    .footer-box {
        flex-direction: column;
    }

    .footbar-list {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media (max-width: 550px) {
    .footbar-list {
        flex-direction: column;
    }

    .footbar-item:not(:first-child) {
        margin-left: 0;
        margin-top: 20px;
    }
}